@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Roboto', sans-serif;
}

/* custom scrollbar */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: silver;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(194, 194, 194);
}

/* skeleton */

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e9e9e9
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);

  background-image: -webkit-gradient(
    linear,
    left top, right top,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(20%, rgba(255, 255, 255, 0.2)),
    color-stop(60%, rgba(255, 255, 255, 0.5)),
    to(rgba(255, 255, 255, 0))
  );

  background-image: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  
    background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );

  -webkit-animation: shimmer 3s infinite;
          animation: shimmer 3s infinite;
  content: '';
  }

@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.files-table {
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
  color: #404040;
}

.files-table table.dataTable thead th {
  border-bottom: none;
  border-top: 1px solid #e5e7eb;
  background-color: #f3f4f6;
  color: #737373;
}

.files-table table.dataTable.no-footer {
  border-bottom: 1px solid #e5e7eb;
}

.files-table table.dataTable.order-column tbody tr > .sorting_1 {
  /* background-color: #f9fafb; */
}

.files-table .dt-buttons {
  margin: 12px;
}

.files-table .dataTables_filter {
  margin: 12px;
}

.files-table table.dataTable.hover tbody tr:hover {
  /* background-color: #eef5fc; */
  background-color: rgba(5,131,68,.05);
}

.files-table .dataTables_info {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #6b7280;
}

.files-table .dataTables_info {
  float: none;
  display: inline-block;
}